
<script type = "text/javascript" src="/scripts/functions.js"></script>
<script type = "text/javascript" src="/scripts/src.js"></script>


<div class = "topic box" conviction-data = "{{id}}">

	{{conviction.text}}

</div>

<div class = "meter non box">
	<span class = "disagree non box">
		{{agree}} Disagree
	</span>
	<span class = "agree non box">
		{{disagree}} Agree
	</span>

</div>
<div class = "sorting box" style = "padding-left:10px">
<select>
			<option>All</option>
			<option>Supportive</option>
			<option>Opposed</option>
</select>
Reasons Sorted By 
<select>
			<option>Most</option>
			<option>Least</option>
</select>
<select>
			<option>Cited</option>
			<option>Contentious</option>
			<option>Recent</option>
</select>
<button style = "float:right; margin-right:-1px; margin-top:-1px" class = "newButton">New Reason</button>
<div class = "reply">
	<h3>New Reason</h3>
	<select class = "newReasonType">
		<option>Support</option>
		<option>Objection</option>
	</select>
	<form method = "post">
	<textarea name = "supportText"></textarea><br>
	<input type = "submit">
	</form>
</div>
</div>

</head>

<body>




</body>

<script>
  $(document).ready(readyFunction());
  </script>

</html>
